<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Cafe</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="min-h-screen bg-gray-800">
        <div class="pt-10"></div>
        <div class="rounded overflow-hidden shadow-lg bg-white w-[50%] m-auto">
            <div class="px-6 py-4">
                <div class="font-bold text-3xl mb-2 text-center">Edit Cafe</div>
                <form action ="/cafe/<%= cafe._id %>?_method=PUT" method="POST">
                  <div class="mb-1">
                      <label for="cafeName" class="block mb-2 text-lg font-medium text-black">Cafe Name</label>
                      <input type="text" name="cafeName" id="cafeName" placeholder="Cafe Name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="<%= cafe.cafeName %>" required >
                  </div>
                  <br>
                  <div class="mb-1">
                      <label for="uploader" class="block mb-2 text-lg font-medium text-black">Uploader Name: </label>
                      <input type="text" name="uploader" id="uploader" placeholder="Uploader Name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="<%= cafe.uploader %>" required>
                  </div>
                  <br>
                  <div class="mb-1">
                      <label for="rating" class="block mb-2 text-lg font-medium text-black">Rating: </label>
                      <input type="number" name="rating" id="rating" placeholder="Rating" min="1" max="5" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="<%= cafe.rating %>" required>
                  </div>
                  <br>
                  <div class="mb-1">
                      <label for="description" class="block mb-2 text-lg font-medium text-black">Description: </label>
                      <textarea name="description" rows="4" id="description" placeholder="Description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required><%= cafe.description %></textarea>
                  </div>
                  <br>
                  <div class="mb-5">
                      <label for="cafeAddress" class="block mb-2 text-lg font-medium text-black">Cafe Address: </label>
                      <input type="text" name="cafeAddress" id="cafeAddressn" placeholder="Cafe Address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="<%= cafe.cafeAddress %>" required>
                  </div>
                  <div class="flex flex-col">
                      <button type="submit" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800 ">Update</button>
                  </div>
              </form>
              </div>
    </div>
    <div class="px-6 pt-4 pb-2 flex flex-col">
        <a 
            class="inline-block px-3 py-1 text-xl font-semibold text-white mr-2 mb-2 hover:text-gray-200 text-center" 
            href="/home">Cancel</a>
      </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>